@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  background-color: $color-primary;
  color: $white;
  padding: $space * 1.5 0;
  text-align: center;
  margin-top: auto;

  &__content {
    @include flex-center(column);
    gap: 10px;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__text {
    font-size: 0.9rem;
    opacity: 0.8;
  }
}